html, body {
    margin: 0;
    padding: 0;
    width: 100%;    
}

* {
    box-sizing: border-box;    
}

body {
    font-family: "Albert Sans", sans-serif;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav article aside"
        "footer footer footer";
    grid-template-columns: 25% 50% 25%;
    gap: 10px;
    max-width: 100vw;    
    background-color: #f5f7ff;
}

header, nav, article, aside, footer {
    padding: 20px;
    border: 1px solid #ebe3c3;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: #214f91;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-sizing: border-box;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.footer-right {
    text-align: right;
}

.footer-left p, .footer-center p, .footer-right p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.footer-right p:first-child {
    font-weight: bold;
    font-size: 16px;
}